{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block main %}

<p>Welcome {{user.username}}</p>
<p>Buga market place</p>
{% if seller_details %}
    <a href="{% url 'add_product' %}"><button>Add Product</button></a>
    <h1>{{ seller_details.brand_name }}</h1>

    <h4>My Products</h4>

    <div class="product-grid">
        {% for product in my_products %}
        <div class="product-card">
            <div class="product-img-wrap">
                <img src="{{ product.picture.url }}" alt="{{product.name}}">
            </div>
            <div class="product-down">
                <p class="product-name">{{ product.name }}</p>
                <p class="product-quantity">{{ product.quantity }} pc(s)</p>
                <p class="product-price">{{ product.price }}</p>
                <button class="buy-btn"><a href="{% url 'edit_product' product.id %}">Edit</a></button>
                <button class="buy-btn"><a href="{% url 'delete_product' product.id %}">Delete</a></button>
            </div>
        </div>
        {% endfor %}

{% else %}
<h3>Market Place</h3>
<div class="product-grid">
    {% for product in market_place %}
    <div class="product-card">
        <div class="product-img-wrap">
            <img src="{{ product.picture.url }}" alt="{{product.name}}">
        </div>
        <div class="product-down">
            <p class="product-name">{{ product.name }}</p>
            <p class="product-quantity">{{ product.quantity }} pc(s)</p>
            <p class="product-price">{{ product.price }}</p>
            {% if product.quantity < 1 %}
                <button class="sold-out-btn" disabled>Sold out</button>
           
            {% else %}
                <button class="buy-btn">Buy</button>
            {% endif %}
        </div>
    </div>
    
    
    {% endfor %}
</div>

{% endif %}


<!-- <div>

</div> -->
{% endblock main %}